*{
    padding:0px;
    margin:0px;
}
header{
    display:flex;
    flex-direction: row;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    display:flex;
    justify-content: space-between;
    height:71.95px;
    width:1000px;
    border-bottom :0.5px solid rgba(203, 199, 199, 0.5);
    box-shadow: 0 4px 4px -4px rgba(203, 199, 199, 0.5);
    padding-top:18px;
    /*padding-bottom:18px;*/
}
#main-logo{
    height: 49.95px;
    width:132px;
    border-right:1px solid rgba(203, 199, 199, 0.8);
}
.address{
    font-size: 17px;
    padding-left:24px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height:21px;
    width:221px;
    color:blue;
    font-weight: 600;
}
#asking{
    margin-top: 10px;
    color:gray;
    font-size: 15px;
    display:inline-block;
}
#add-location{
    color:gray;
    border:none;
    width:20px;
}
#main-search{
    width:252.4px;
    height:46.4px;
    border:1px solid  rgba(203, 199, 199, 0.8);
    border-radius:15px;
    background-color: #F0F0F5;
    padding-left:16px;
    padding-right: 16px;
}
.search{
    padding:0px 16px 0p 16px;
    font-size:16px;
    height:46.4px;
    width:302.4px;
    display: inline-block;
}
#magnify{
    color:rgb(96, 96, 96);
    display:inline-block;
    position:relative;
    bottom:33px;
    left:250px;
}
#login{
    height:24px;
    width:24px;
}
.signin{
    position:relative;
    top:15px;
    font-size: 18px;
    color:rgba(2, 6, 12, 0.75);
    height:24px;
    width:120px;
}
.cart{
    color:rgba(2, 6, 12, 0.3);
    height:48px;
    width:136px;
    font-size: 15px;
    background-color:#E2E2E7;
    border: none;
    border-radius:10px;
    font-weight: 600;
}
main{
    position:relative ;
    top:40px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.first{
    display:flex;
    justify-content: space-between;
    height:231px;
    width:1032px;
    padding:16px 0px 16px 16px;
}
.img{
    display:flex;
    justify-content: center;
    position:relative;
    top:30px;

}
.first-img{
    height:215px;
    width:320px;
}
.second{
    display:flex;
    justify-content: center;
    position:relative;
    top:40px;
}
#second-img{
    height:256.75px;
    width:1050px;
}
.one{
    font-size: 20px;
    display:flex;
    justify-content: center;
    position:relative;
    top:120px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     width:680px;
}
.categories{
    font-size: 20px;
    font-weight: 900;
    display:flex;
    justify-content: start;
    position:relative;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.first{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.products{
    display:flex;
    justify-content: space-between;
    height:173px;
    width:500px;
    position:relative;
    top:120px;
}
.fresh-item{
    border-radius: 10px;
    border:1px solid black;
    height:126.55px;
    width:112px;
}
.two{
    font-size: 20px;
    display:flex;
    justify-content: center;
    position:relative;
    top:50px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     width:750px;
}
.categories{
    font-size: 20px;
    font-weight: 900;
    display:flex;
    justify-content: start;
    position:relative;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.second{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.productstwo{
    display:flex;
    justify-content: space-between;
    height:173px;
    width:500px;
    position:relative;
    top:60px;
}
.fresh-item{
    border-radius: 10px;
    border:1px solid black;
    height:126.55px;
    width:112px;
}
.three{
    font-size: 20px;
    display:flex;
    justify-content: center;
    position:relative;
    top:-10px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     width:740px;
}
.categories{
    font-size: 20px;
    font-weight: 900;
    display:flex;
    justify-content: start;
    position:relative;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.second{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.productsthree{
    display:flex;
    justify-content: space-between;
    height:173px;
    width:500px;
    position:relative;
    top:0px;
}
.fresh-item{
    border-radius: 10px;
    border:1px solid black;
    height:126.55px;
    width:112px;
}
.four{
    font-size: 20px;
    display:flex;
    justify-content: center;
    position:relative;
    top:-70px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     width:880px;
}
.categories{
    font-size: 20px;
    font-weight: 900;
    display:flex;
    justify-content: start;
    position:relative;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.second{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.productsfour{
    display:flex;
    justify-content: space-between;
    height:173px;
    width:500px;
    position:relative;
    top:-60px;
}
.fresh-item{
    border-radius: 10px;
    border:1px solid black;
    height:126.55px;
    width:112px;
}
footer{
    display:flex;
    flex-direction: row;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    display:flex;
    flex-direction: row;
    justify-content: center;;
}
.download{
    height:188px;
    width:1000px;
    background-color: #F0F0F5;
    position:relative;
    top:-120px;
}
.akshar{
    position:absolute;
    top:45px;
    left:150px;
    font-weight: bolder;
    height:52px;
    width:385px;
    font-size:24px;
    font-family:sans-serif
}
.playstore{
    position: absolute;
    left:150px;
    top:120px;
}
.applestore{
    position: absolute;
    left:330px;
    top:120px;
}
.mobile{
    position: absolute;
    left:700px;
    top:-9px;
}
.footer2{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.box{
    background-color: black;
    position:relative;
    top:-120px;
    height:660px;
    width:1000px;
    border:1px solid black;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.inner{
    border:2px solid black;
    height:530px;
    width:700px;
    background-color: black;
}
#copyright{
    display:inline-block;
    color:rgb(171, 170, 170);
    font-size: 20px;
    font-weight: bold;
}
.left-div{
    height:370px;
    width:250px;
    position:absolute;
    bottom:70px;
    left:100px;
}
#heading1{
    position:absolute;
    top:20px;
    left:20px;
    color:white;
}
#list1{
    line-height: 40px;
    font-size: 20px;
    left:35px;
    font-weight: 700;
    position: absolute;
    top:80px;
    color:rgb(171, 170, 170);
}
.center-div{
    height:370px;
    width:250px;
    position:absolute;
    bottom:70px;
    left:380px;
}
#heading2{
    position:absolute;
    font-size: 30px;
    top:27px;
    left:30px;
    color:white;
}
#list2{
    line-height: 40px;
    font-size: 20px;
    left:70px;
    font-weight: 700;
    position: absolute;
    top:80px;
    color:rgb(171, 170, 170);
}
.right-div{
    height:370px;
    width:250px;
    position:absolute;
    bottom:70px;
    right:80px;
}
#heading3{
    position:absolute;
    top:20px;
    left:23px;
    color:white;
}
#list3{
    line-height: 40px;
    font-size: 20px;
    left:50px;
    font-weight: 700;
    position: absolute;
    top:80px;
    color:rgb(171, 170, 170);
}
.last{
    height:50px;
    width:800px;
    position:absolute;
    bottom:15px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
#lastswiggy{
    color:white;
    font-weight: 800;
    font-size: 20px;
}
.socialmedia{
    font-size: 25px;
    color:white;
}